// Default mixins and settings -----------------
@import "../template/mixins"
@import "../template/settings"
// ---------------------------------------------

@import url(https://use.typekit.net/buc1fag.css)
@import url(https://use.typekit.net/buc1fag.css)

@import "./rustconf-colors.sass"

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $c-black

$mainColor: $c-purple
$headingColor: $c-white

$mainFontSize: 36px
$mainFont: modesto-text, sans-serif
$headingFont: modesto-expanded, sans-serif
$headingTextShadow: none
$headingLetterSpacing: normal
$headingTextTransform: none
$headingFontWeight: 400
$linkColor: $c-white
$linkColorHover: lighten( $linkColor, 15% )
$selectionBackgroundColor: lighten( $linkColor, 25% )

$heading1Size: 2.0em
$heading2Size: 1.6em
$heading3Size: 1.0em
$heading4Size: 1.0em

@import "../template/theme"

.reveal > .slides
  .small
    font-size: 0.6em
    line-height: 1

  span.author
    color: $c-peach

  h2
    font-family: modesto-text, sans-serif
    font-weight: 400

  code
    font-size: 0.9em

  pre
    font-size: 0.7em
    display: flex
    box-shadow: none

    & > code
      margin: auto
      overflow: unset
      max-height: initial

      &[data-line-numbers]
        margin: 0

    & > code.left
      margin: 0

  pre.term
    display: block

  pre, code, pre code
    font-family: "PragmataPro Mono Liga", Monaco, monospace

  iframe.main
    width: 95%
    min-height: 500px

  & section .fragment.instant
    transition: none

  .caption
    font-size: 0.6em
    color: $c-purple

  & > section
    height: 100%

    & > .slide-wrapper
      height: 100%
      overflow: hidden

    & > .slide-footer
      font-size: 0.8em
      position: absolute
      bottom: 0
      width: 100%
      text-align: center
      display: flex

      &, a
        color: $c-purple-dark

      .slide-footer-left,
      .slide-footer-center,
      .slide-footer-right
        flex: auto

      .slide-footer-left
        text-align: left

      .slide-footer-right
        text-align: right

  .image-slide
    .slide-footer
      display: none
    p
      margin: 0


  .title-card, .center
    & > .slide-wrapper
      display: flex
      align-items: center
      justify-content: center

  .title-card
    h2
      font-size: 3em

    & > .slide-footer
      display: none


.reveal-viewport
  &.peach, &.purple
    & .title-card > .slide-wrapper
      &, h1, h2, h3, h4, h5, h6
        color: $c-black

.reveal-viewport.peach
  background-color: $c-peach

.reveal-viewport.purple
  background-color: $c-purple

.reveal > .speaker-notes
  &::before
    opacity: 1

  .notes-placeholder
    color: #555f6e

  a
    color: #00a
    text-decoration: underline

  .next-slide
    font-style: italic

section.has-light-background
  &, h1, h2, h3, h4, h5, h6
    color: #222
