// Default mixins and settings -----------------
@import "../template/mixins"
@import "../template/settings"
// ---------------------------------------------

@import url(https://use.typekit.net/buc1fag.css)
@import url(https://use.typekit.net/buc1fag.css)

$c-black: rgb(13, 9, 17)
$c-peach: rgb(245, 167, 143)
$c-peach-dark: rgb(187, 118, 97)
$c-orange: rgb(243, 183, 115)
$c-yellow: rgb(241, 223, 141)
$rgb-yellow: 241,223,141
$c-green: rgb(105, 160, 92)
$c-teal: rgb(94, 173, 157)
$c-purple-light: rgb(195, 187, 200)
// $c-purple: rgb(145, 134, 154)
$c-purple: #ab94bf // slightly brighter
$c-purple-dark: rgb(115, 109, 119)
$c-purple-xdark: rgb(33, 28, 38)
$c-ruby: rgb(181, 63, 40)
$c-white: rgb(250, 249, 243)
$c-eggshell: rgb(238, 233, 216)
$c-white-dark: rgb(230, 229, 220)
$c-white-a60: rgb(250, 249, 243, 0.6)
$c-purple-a30: rgba(145, 134, 154, 0.30)
$c-gray-a30: rgba(132, 136, 153, 0.30)
$c-orange-a15: rgba(255, 163, 87, 0.15)
$c-yellow-a15: rgba(255, 227, 100, 0.15)
$c-blue-a15: rgba(143, 199, 236, 0.15)
$c-purple-a15: rgba(145, 134, 154, 0.15)
$c-peach-a15: rgba(243, 156, 129, 0.15)
$c-gray-a15: rgba(132, 136, 153, 0.15)
$c-gray: rgb(153, 136, 132)
$c-gray-dark: rgb(68, 65, 64)

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $c-black

$mainColor: $c-purple
$headingColor: $c-white

$mainFontSize: 36px
$mainFont: modesto-text, sans-serif
$headingFont: modesto-expanded, sans-serif
$headingTextShadow: none
$headingLetterSpacing: normal
$headingTextTransform: none
$headingFontWeight: 400
$linkColor: $c-white
$linkColorHover: lighten( $linkColor, 15% )
$selectionBackgroundColor: lighten( $linkColor, 25% )

$heading1Size: 2.0em
$heading2Size: 1.6em
$heading3Size: 1.0em
$heading4Size: 1.0em

// Theme template ------------------------------
@import "../template/theme"
// ---------------------------------------------

.reveal > .slides
  .small
    font-size: 0.6em
    line-height: 1

  span.author
    color: $c-peach

  h2
    font-family: modesto-text, sans-serif
    font-weight: 400

  code
    font-size: 0.9em

  pre
    font-size: 0.7em
    display: flex

    & > code
      margin: auto
      overflow: unset

  pre, code, pre code
    font-family: "PragmataPro Mono Liga", Monaco, monospace

  iframe.main
    width: 95%
    min-height: 500px

  .r-stack > *
    width: 100%

  & section .fragment.instant
    transition: none

  .caption
    font-size: 0.6em
    color: $c-purple

.reveal > .speaker-notes
  a
    color: #00a
    text-decoration: underline

section.has-light-background
  &, h1, h2, h3, h4, h5, h6
    color: #222
