// Default mixins and settings -----------------
@import "../template/mixins"
@import "../template/settings"
// ---------------------------------------------

@import url(https://use.typekit.net/buc1fag.css)
@import url(https://use.typekit.net/buc1fag.css)

@import "./rustconf-colors.sass"

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $c-black

$mainColor: $c-purple
$headingColor: $c-white

$mainFontSize: 36px
$mainFont: modesto-text, sans-serif
$headingFont: modesto-expanded, sans-serif
$headingTextShadow: none
$headingLetterSpacing: normal
$headingTextTransform: none
$headingFontWeight: 400
$linkColor: $c-white
$linkColorHover: lighten( $linkColor, 15% )
$selectionBackgroundColor: lighten( $linkColor, 25% )

$heading1Size: 2.0em
$heading2Size: 1.6em
$heading3Size: 1.0em
$heading4Size: 1.0em

@import "../template/theme"

.reveal > .slides
  .small
    font-size: 0.6em
    line-height: 1

  span.author, .small
    color: $c-peach

  h2
    font-family: modesto-text, sans-serif
    font-weight: 400

  code
    font-size: 0.9em

  pre
    font-size: 0.7em
    display: flex
    box-shadow: none

    & > code
      margin: auto
      overflow: unset
      max-height: initial

      &[data-line-numbers]
        margin: 0

    & > code.left
      margin: 0

  pre.term
    display: block

  pre, code, pre code
    font-family: "PragmataPro Mono Liga", Monaco, monospace

  iframe.main
    width: 95%
    min-height: 500px

  & section .fragment.instant
    transition: none

  .caption
    font-size: 0.6em
    color: $c-purple

  & > section
    height: 100%

    & > .slide-wrapper
      height: 100%
      overflow: hidden

    & > .slide-footer
      font-size: 0.8em
      position: absolute
      bottom: 1.5em
      width: 100%
      text-align: center
      display: flex

      &, a
        color: $c-purple-dark

      .slide-footer-left,
      .slide-footer-center,
      .slide-footer-right
        flex: auto

      .slide-footer-left
        text-align: left

      .slide-footer-right
        text-align: right

  .image-slide
    .slide-footer
      display: none
    p
      margin: 0


  .title-card, .center
    & > .slide-wrapper
      display: flex
      align-items: center
      justify-content: center

  .title-card
    h2
      font-size: 3em

    & > .slide-footer
      display: none


.reveal-viewport
  &.peach,
  &.purple,
  &.teal,
  &.orange,
  &.yellow,
  &.green
    &, h1, h2, h3, h4, h5, h6, a
      color: $c-black

.reveal-viewport.peach
  background-color: $c-peach

.reveal-viewport.purple
  background-color: $c-purple

.reveal-viewport.teal
  background-color: $c-teal

.reveal-viewport.orange
  background-color: $c-orange

  .reveal,
  span.author
    color: $c-blue

  .small,
  a
    color: $c-blue-light

.reveal-viewport.yellow
  background-color: $c-yellow

.reveal-viewport.green
  background-color: $c-green

  .reveal,
  span.author
    color: $c-black

  .small,
  a
    color: $c-blue

.reveal-viewport.ruby
  background-color: $c-ruby

  .reveal, span.author, .small
    color: $c-yellow

.reveal > .speaker-notes
  &::before
    opacity: 1

  .notes-placeholder
    color: #555f6e

  a
    color: #00a
    text-decoration: underline

  .next-slide
    font-style: italic


.tweet
  font-family: sans-serif
  width: 600px
  margin: auto
  text-align: left
  background-color: rgb(21, 32, 43)
  color: #fff
  padding: 1em
  border-radius: 0.5em

  .user,
  .tweet-main
    margin-bottom: 0.5em

  .interactions > .item > .number,
  .user .display-name
    color: #fff
    font-weight: bold

  .interactions > .item
    margin-right: 1em

  .interactions > .item > .number
    margin-right: 0.25em

  .user,
  .date,
  .interactions
    color: rgb(136, 153, 166)
    font-size: 0.7em

  .date,
  .interactions
    padding-top: 0.5em

  .interactions
    border-top: 2px solid rgb(56, 68, 77)

  .date
    padding-bottom: 0.5em

  .user
    display: flex

    img
      max-width: 2.5em
      border-radius: 50%
      position: relative
      top: 0.25em
      margin: 0

    .col-left
      margin-right: 0.5em

    .col-right
      margin-top: 0.15em

  // .user > .display-name,
  // .user > .username
  //   xxx